* {
  font-family: "Barriecito", cursive;
  font-family: "Cherry Bomb One", cursive;
  font-family: "Handjet", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Rajdhani", sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 14%,
    rgba(0, 212, 255, 1) 60%
  );
  transition: ease-in-out 4s;
}
h1 {
  color: white;
}
h3 {
  position: relative;
  top: 80px;
  right: 140px;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  border-radius: 5%;
  justify-content: space-around;
  margin-bottom: 80px;
  display: none;
}
.diseño {
  width: 100%;
  height: 100%;
  background-color: #cdfcf6;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-titulo {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 5px;
}

.contenedor-inicio-sesion {
  width: 100%;
  height: 550px;
  border-radius: 5%;
}

a {
  margin-left: 50px;
}
.logo-banco {
  width: 50px;
  height: 50px;
  position: relative;
  left: 25px;
  top: 15px;
  border-radius: 50%;
}
.cardHistorial {
  width: 350px;
  height: 270px;
  background-image: linear-gradient(144deg, #82ebf2, #41a7ef 60%, #0b23f8);
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  position: absolute;
  left: 180px;
  top: 20px;
  margin: auto;
  font-family: inherit;
  display: none;
  
}

.cardHistorial button {
  padding: 2px 20px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  background: #e8e8e8;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
}

.cardHistorial button:hover {
  background: red;
  color: #ffffff;
}
.contenidoHistorial {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.contenedorBoton{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
}